@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;700&family=Public+Sans&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Public Sans', sans-serif;

}

.container {
    max-width: 1120px;
    padding: 0 10px;
    margin: 0 auto;
}

#hero {
    margin-bottom: 100px;
}

.get__title {
    font-family: 'Ibarra Real Nova', serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    color: #33323d;
    margin-bottom: 24px;
}
.get__text {
    font-size: 16px;
    line-height: 30px;
    color: #33323d;
    opacity: 0.8;
    margin-bottom: 24px;
}

.get__box {
    width: 635px;
}
.get__list {
    list-style: none;
    padding-left: 0;
}

.get__item {
    margin-right: 15px;
}

.get__main {
    width: 100%;
    border-top: 1px solid #ddddde;
    padding-top: 48px;
    border-bottom: 1px solid #ddddde;
    padding-bottom: 48px;
}
@media screen and (max-width: 992px) {
    .get__main {
        flex-wrap: wrap;
    }
    .get__box {
        width: 689px;
    }
}

#get {
    margin-bottom: 48px;
}

.contact__form {
    width: 638px;
}
.contact__fname {
    font-weight: bold;
    font-size: 13px;
    line-height: 30px;
    color: #33323d;
    opacity: 0.8;
}
.contact__name {
    background-color: #33323d;
    padding-top: 9px;
    padding-left: 16px;
    padding-bottom: 9px;
    font-size: 13px;
    line-height: 30px;
    opacity: 0.4;
    border: none;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 24px;
}

.contact__name:focus {
    outline: none;
    opacity: 1;
    color: #fff;
    font-size: 18px;
}

.mess {
    padding-top: 9px;
    padding-bottom: 60px;
    padding-left: 16px;
}
.contact__btn {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    background-color: #203a4c;
    padding: 17px 24px;
    border: none;
}


#contact {
    margin-bottom: 110px;
}
@media screen and (max-width: 992px) {
    .contact__main {
        flex-wrap: wrap;
    }
    .contact__name {
        width: 100%;
    }

}