@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;700&family=Public+Sans&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Public Sans', sans-serif;

}

.container {
    max-width: 1120px;
    padding: 0 10px;
    margin: 0 auto;
}

#hero {
    margin-bottom: 94px;
}

.image__box {
    background-image: url(../imgs/manage-image.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 500px;
}

#image {
    margin-bottom: 115px;
}

.back__entry {
    width: 350px;
    border-top: 1px solid #ddddde;
    padding-top: 48px;
}

.back__title {
    font-family: 'Ibarra Real Nova', serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    color: #33323d;
    margin-bottom: 29px;
}

.back__text {
    font-size: 15px;
    line-height: 30px;
    color: #33323d;
    opacity: 0.8;
    margin-bottom: 23px;
}
.back__job {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #5fb4a2;
    margin-bottom: 16px;
}
.back__use {
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    color: #5fb4a2;
    margin-bottom: 32px;
}

.back__link {
    text-decoration: none;
    padding: 17px 34px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #33323d;
    border: 1px solid #33323d;
    transition: all 0.3s ease;
    position: relative;
}

.back__link::before {
    content: '';
    display: inline-block;
    width: 350px;
    height: 1px;
    background-color: #ddddde;
    position: absolute;
    left: 0;
    bottom: -50px;
}

.back__link:hover {
    transition: all 0.3s ease;
    background-color: #33323d;
    color: #fff;
}

.back__link:active {
    border: 1px solid #d6d6d8;
}

.back__desc {
    font-family: 'Ibarra Real Nova', serif;
    font-size: 32px;
    letter-spacing: -0.285714px;
    color: #33323d;
    margin-bottom: 28px;
}

.back__txt {
    font-size: 15px;
    line-height: 30px;
    color: #33323d;
    opacity: 0.8;
}

.back__static {
    font-family: 'Ibarra Real Nova', serif;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -0.285714px;
    color: #33323d;
    margin-bottom: 28px;
}

.static__img {
    background-image: url(../imgs/static-img.png);
    background-repeat: no-repeat;
    width: 635px;
    height: 400px;
    margin-bottom: 32px;
    background-size: cover;
}
.static__imgs {
    background-image: url(../imgs/static-imgt.png);
    background-repeat: no-repeat;
    width: 635px;
    height: 400px;
    margin-bottom: 32px;
    background-size: cover;
}

#back {
    margin-bottom: 100px;
}

@media screen and (max-width: 1200px) {
    .back__entry {
        margin: 0 auto;
        margin-bottom: 100px;
    }

    .back__project {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    
}

@media screen and (max-width: 768px) {
    .image__box {
        height: 200px;
    }
    .static__img {
        background-image: url(../imgs/static-img-mobi.png);
        width: 100%;
        height: 270px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .static__imgs {
        background-image: url(../imgs/static-imgt-mobi.png);
        width: 100%;
        height: 270px;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.site__main {
    border-top: 1px solid #ddddde;
    border-bottom: 1px solid #ddddde;
}
.site__link {
    font-family: 'Ibarra Real Nova', serif;
    text-decoration: none;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -0.285714px;
    color: #33323d;
    transition: all 0.3s ease;
}

.site__link:hover {
    color: #5fb4a2;
    transition: all 0.3s ease;
}
.site__link:active {
    color: #33323d;
    transition: all 0.3s ease;
}
.site__text {
    font-size: 16px;
    line-height: 30px;
    color: #33323d;
    opacity: 0.5;
    width: 121px;
}
.site__inner {
    margin-left: 32px;
    margin-right: 32px;
}
.site__hr {
    width: 1px;
    height: 130px;
    background-color: #ddddde;
}

.site__arrow {
    position: relative;
    top: 18px;
}

#site {
    margin-bottom: 130px;
}

@media screen and (max-width: 500px) {
    .site__box {
        flex-direction: column;
    }

    .site__hr {
        height: 140px;
    }
        
    .second {
        flex-direction: column-reverse;
    }
    .site__arrow {
        position: relative;
        top: 40px;
    }

    .site__arrow-box {
        display: flex;
        justify-content: flex-end;
    }

}
